In [5]:
import pandas as pd
import sqlite3

In [ ]:
query = f"""
SELECT
HISTORY_VISITS.ID AS "HISTORY ITEM ID",
DATETIME(HISTORY_VISITS.VISIT_TIME+978307200,'UNIXEPOCH','UTC') AS "VISIT TIME",
HISTORY_ITEMS.URL,
HISTORY_ITEMS.VISIT_COUNT,
HISTORY_ITEMS.DAILY_VISIT_COUNTS,
HISTORY_ITEMS.WEEKLY_VISIT_COUNTS,
HISTORY_VISITS.TITLE,
HISTORY_VISITS.ORIGIN,
HISTORY_VISITS.LOAD_SUCCESSFUL,
HISTORY_VISITS.REDIRECT_SOURCE,
HISTORY_VISITS.REDIRECT_DESTINATION
FROM HISTORY_ITEMS
LEFT OUTER JOIN HISTORY_VISITS ON HISTORY_ITEMS.ID == HISTORY_VISITS.HISTORY_ITEM
ORDER BY "VISIT TIME"""

In [3]:
pd.read_csv("output/csv/history_visit_items.csv", header=0)

/var/folders/8l/369lcxws2hz0q_cn2532qz080000gn/T/ipykernel_13951/1341903359.py:1: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv("output/csv/history_visit_items.csv", header=0)

,date,id,history_item,visit_time,title,load_successful,http_non_get,synthesized,redirect_source,redirect_destination,...,id.1,url,domain_expansion,visit_count,daily_visit_counts,weekly_visit_counts,autocomplete_triggers,should_recompute_derived_visit_counts,visit_count_score,status_code
0,2023-06-05 13:57:59,1363,1,7.076807e+08,Dreamy Lakehouse Getaway on Robinson Pond - Ho...,1,0,0,NaN,NaN,...,1,https://www.airbnb.com/rooms/24276079?adults=2...,airbnb,1,b'\x14\x00\x00\x00',NaN,NaN,0,20,0
1,2023-06-06 09:33:05,1774,2,7.077512e+08,Your Account | West Elm,1,0,0,NaN,1775.0,...,2,https://www.westelm.com/account/login.html?tar...,westelm,2,b'\x14\x00\x00\x00',NaN,NaN,0,20,0
2,2023-06-06 09:33:04,1773,2,7.077512e+08,NaN,1,0,0,1772.0,NaN,...,2,https://www.westelm.com/account/login.html?tar...,westelm,2,b'\x14\x00\x00\x00',NaN,NaN,0,20,0
3,2023-06-12 15:24:37,4108,3,7.082907e+08,NaN,1,1,0,NaN,4109.0,...,3,https://www.paypal.com/connect/consent,paypal,1,b'\x14\x00\x00\x00',NaN,NaN,0,20,0
4,2023-06-09 11:39:25,3121,4,7.080180e+08,Vintage Postmodern Raw Edge Travertine Dining ...,1,0,0,NaN,NaN,...,4,https://www.1stdibs.com/furniture/tables/dinin...,1stdibs,1,b'\x14\x00\x00\x00',NaN,NaN,0,20,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129320,2024-05-20 11:46:38,129308,27990,7.379128e+08,Laser Days: Invoice #300 - studiomanager@anick...,1,0,0,NaN,NaN,...,27990,https://mail.google.com/mail/u/0/#inbox/FMfcgz...,mail.google,2,b'd\x00\x00\x00',NaN,NaN,0,100,0
129321,2024-05-20 11:46:43,129309,27991,7.379128e+08,Laser Days: Invoice #300 - studiomanager@anick...,1,0,0,NaN,NaN,...,27991,https://mail.google.com/mail/u/0/#inbox/FMfcgz...,mail.google,1,b'd\x00\x00\x00',NaN,NaN,0,100,0
129322,2024-05-20 11:46:55,129312,27992,7.379128e+08,Mold Testing results - studiomanager@anickayis...,1,0,0,NaN,NaN,...,27992,https://mail.google.com/mail/u/0/#inbox/FMfcgz...,mail.google,1,b'd\x00\x00\x00',NaN,NaN,0,100,0
129323,2024-05-20 11:52:31,129319,27993,7.379132e+08,출장중입니다(Out of office) - studiomanager@anickayi...,1,0,0,NaN,NaN,...,27993,https://mail.google.com/mail/u/0/#inbox/FMfcgz...,mail.google,1,b'd\x00\x00\x00',NaN,NaN,0,100,200
129324,2024-05-20 11:58:34,129322,27994,7.379135e+08,Justworks Payroll Chat 5/14 - studiomanager@an...,1,0,0,NaN,NaN,...,27994,https://mail.google.com/mail/u/0/#inbox/FMfcgz...,mail.google,1,b'd\x00\x00\x00',NaN,NaN,0,100,200